@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:wght@900&family=Poppins:wght@100;300;400;500&family=Roboto:ital,wght@0,100;0,700;0,900;1,300;1,500;1,700&display=swap');
body{
  overflow-x: hidden;
}
/*nav-bar*/
.doneL{
  display: none;
}
.logo{
  top: 28px;
left: 151px;
width: 230px;
height: 60px;
background: 0% 0% no-repeat padding-box;
opacity: 1;
}
.logo2{
  display: none;
  }
.try{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  z-index: 1;
top: 0px;
left: 128px;
width: 276px;
height: 130px;
background: #02050B 0% 0% no-repeat padding-box;
opacity: 1;
}

.upper_nav{
  background-color: #03060C;
  height: 57px;
  color: #FFFFFF;
}
.lower_nav{
  background-color: #057690;
  height: 100%;
  max-height: 97px;
}
.lower_nav ul li{
  margin: 100px;
}
.lower_nav ul li{
  font-size: 14px;
}
.no_bullet{
  list-style-type: none;
}
.nav_font{
  font: normal normal normal 14px/57px Poppins !important;
letter-spacing: 0px;
color: #9DEBFE !important;
text-transform: uppercase !important;
text-decoration: none;
}
.nav_font:hover{
  color: #EFED70 !important;
}
.nav_font:visited {
  background-color: #aaa;
}
.DD{
  font: normal normal normal 14px/57px Poppins !important;
letter-spacing: 0px;
color: #9DEBFE !important;
text-transform: uppercase !important;
text-decoration: none;
}
.dropdowns{
  border-top: 3px solid #EFED70 !important;
  background: #00333E 0% 0% no-repeat padding-box !important;
  width: 100%;
  min-width: 280px !important;
  height: 100% !important;
  min-height: 420px !important;
}
.DM{
  width: 161px;
height: 20px;
text-align: left;
font: normal normal normal 14px/38px Poppins;
letter-spacing: 0px;
color: #4A98A9;
text-transform: uppercase;
margin-top: -10px !important;
}
.DM:hover{
  color: #EFED70 !important;
}
/*Home*/
.bg { 
  top: 150px;
  left: 0px;
  background: url(Img_Home_Page/Head.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  height: 100%;
  min-height: 639px;
}
.Sunshine{
top: 263px;
left: 128px;
width: 368px;
height: 37px;
text-align: left;
font: normal normal bold 27px/17px Poppins;
letter-spacing: 0px;
color: #2FB1CF;
opacity: 1;
}
.Carpet{
top: 300px;
left: 128px;
width: 670px;
height: 277px;
text-align: left;
font: normal normal bold 59px/63px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.head_contact{
  width: 272px;
height: 69px;
border: 2px solid #EFED70;
border-radius: 4px;
opacity: 1;
text-align: left;
font: normal normal normal 21px/57px Poppins;
letter-spacing: 0px;
color: #EFED70 !important;
}
.card{
width: 350px;
height: 538px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 7px;
opacity: 1;
}
.get{
  margin-left: 10px;
width: 301px;
height: 47px;
text-align: left;
font: normal normal bold 33px/57px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.getp{
  margin-left: 10px;
width: 266px;
height: 17px;
text-align: left;
font: normal normal normal 12px/16px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.form{
  margin: 10px;
  margin-top: 60px;
}
.Name{
  /* Layout Properties */
width: 310px;
height: 39px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
margin-top: 1em;
}
.mail{
  width: 150px;
height: 39px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
}
.message{
  width: 310px;
height: 80px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
}
.submit{
  width: 310px;
height: 51px;
/* UI Properties */
background: #FF3400 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
border: none;
font: normal normal bold 15px/17px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
/*2nd*/
.Vac{
  width: 449px;
height: 694px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}
.call{
  position: relative;
  z-index: 3;
  margin-top: 400px;
  right: 200px;
  width: 308px;
height: 117px;
/* UI Properties */
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
.call_now{
  margin-left: 1em;
  width: 112px;
height: 32px;
/* UI Properties */
text-align: left;
font: normal normal normal 23px/57px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.call_num{
  margin-left: 1em;
  width: 234px;
  height: 52px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 30px/57px Poppins;
  letter-spacing: 0px;
  color: #000000;
}

.welcome{
  width: 178px;
height: 40px;
text-align: left;
font: normal normal bold 29px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.welcome1{
  width: 452px;
height: 63px;
text-align: left;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.welcome2{
  width: 452px;
height: 311px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
/*Third*/
.bg3{
  height: 100%;
  min-height: 1506px;
background: #B9D7E1 0% 0% no-repeat padding-box;
opacity: 1;
}
.thirdhead{
  width: 657px;
  height: 63px;
  text-align: left;
  font: normal normal bold 45px/47px Poppins;
  letter-spacing: 0px;
  color: #00333E;
}
.thirdP{
  width: 554px;
height: 164px;
text-align: left;
font: normal normal bold 29px/31px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.thirdP2{
  width: 476px;
height: 191px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
/*cards*/
.circ_arr{
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: #24A0ED;
}
/*Qualities*/
.third_title{
  width: 168px;
  height: 47px;
  text-align: left;
  font: normal normal bold 18px/22px Poppins;
  letter-spacing: 0px;
  color: #00333E;
  opacity: 1;
}
.third_par{
  width: 182px;
height: 65px;
text-align: left;
font: normal normal normal 12px/16px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
/*Fourth*/
.bg4{
  height: 100%;
  min-height: 807px;
background: #ECFBFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.Fourth_head{
width: 305px;
height: 63px;
text-align: center;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;
color: #000000;
}
.Fourth_par{
width: 1044px;
height: 143px;
text-align: center;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.Carousel_card{
  width: 350px;
height: 370px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 5px;
opacity: 0.92;
}
.carousel .carousel-indicators button {background-color: rgb(117, 83, 83);}
.carousel .carousel-indicators button.active {background-color: blue;}
.circ_corn{
  width: 153px;
height: 153px;
background: #EFED70;
  border-radius: 0% 0% 100% 0%;
}
.Car_title{
  width: 108px;
height: 47px;
text-align: left;
font: normal normal bold 18px/22px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.Car_par{
  width: 284px;
height: 119px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.img_icon{
  height: 3rem;
  width: 3rem;
}
/*Fifth*/
.fifth_head{
  width: 211px;
height: 39px;
/* UI Properties */
text-align: left;
font: normal normal bold 21px/33px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.fifth_head2{
  width: 310px;
height: 63px;
/* UI Properties */
text-align: left;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.fifth_par{
  width: 286px;
height: 287px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.van{
  width: 100%;
  min-width: 350px;
  height: 100%;
  min-height:225px;
}
/*Sixth*/
.bg_sixth{
  height: 100%;
  min-height: 619px;
background: #F0FAFC 0% 0% no-repeat padding-box;
opacity: 1;
}
.sixth_head{
  width: 178px;
height: 40px;
/* UI Properties */
text-align: left;
font: normal normal bold 29px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.sixth_head2{
  width: 431px;
height: 100px;
/* UI Properties */
text-align: left;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.sixth_par{
  width: 452px;
height: 167px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.run{
  width: 100%;
  max-width: 1366px;
  height: 100%;
  max-height: 619px;
  padding-bottom: 10rem;
}
/*seventh*/
.bg_seven{
  height: 619px;
background: #D9F6FF 0% 0% no-repeat padding-box;
opacity: 1;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.bg_pic { 
  top: 150px;
  left: 0px;
  background: url(Img_Home_Page/Group\ 123.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  height: 100%;
  min-height: 620px;
}
.seventh_head{
  display: flex;
  justify-content: end;
  align-items:flex-end;
  width: 253px;
height: 99px;
margin-left: 10rem;
font: normal normal bold 55px/22px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.seventh_par{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 521px;
height: 368px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
background-color: white;
}
.bars{
  margin-top: 150px;
  width: 58px;
  height: auto;
font: normal normal normal 200px/24px Poppins;
color: #00333E;
}
.par_car{
  width: 406px;
height: 143px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.carousel-item{
  height: 100%;
  max-height: 35rem;
  color: #00333E;
  position: relative;
  background-position: center;
}
.carousel-items{
  height: 100%;
  max-height: 10rem;
  color: #00333E;
  position: relative;
  background-position: center;
}
.carousel .carousel-indicators li {background-color: rgb(117, 83, 83);}
.carousel .carousel-indicators li.active {background-color: blue;}

/*last*/
.almost{
  background: #EFED70 0% 0% no-repeat padding-box;
  height: 270px;
}
.almost_call{
  width: 970px;
height: 85px;
text-align: center;
font: normal normal normal 28px/42px Poppins;
letter-spacing: 0px;
color: #192331;
opacity: 1;

}
.almost_calltwo{
  width: 600px;
height: 63px;
/* UI Properties */
text-align: center;
font: normal normal bold 45px/22px Poppins;
letter-spacing: 0px;
color: #000D10;
opacity: 1;
}
/*footer*/
.bgfooter{
  height: 100%;
  min-height: 136px;
background: #192331 0% 0% no-repeat padding-box;
opacity: 1;
}
.footer_par{
  width: 318px;
height: 17px;
text-align: center;
font: normal normal normal 12px/42px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

/****************************************************<S E R V I C E S>*********************************************************/

/****************************************************<A B O U T>*********************************************************/
.ab_head{
  width: 784px;
height: 151px;
  text-align: left;
  font: normal normal bold 59px/63px Poppins;
  letter-spacing: 0px;
  color: white !important;
  opacity: 1;
  margin-left: 7rem;
}
/*1st*/
.ab_bg{
  height: 100%;
  min-height: 739px;
}
.ab_marg_top{
  margin-top: 10rem;
}
.ab_par{
  width: 472px;
height: 23px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
}
/*2nd*/
.ab_two_bg{
  height: 100%;
  min-height: 100vh;
}
.ab_sblue_bg{
  width: 1210px;
  height: 100%;
min-height: 1064px;
background: #ECFBFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.ab_two_par{
  width: 100%;
  min-width: 426px;
height: 887px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.ab_Spic{
  width: 525px;
  height: 100%;
  max-height: 800px;
}
.ab_label{
  position: relative;
  z-index: 2;
  bottom: 3rem;
  right: 2rem;
  width: 444px;
height: 117px;
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
.ab_label2{
  position: relative;
  z-index: 2;
  bottom: 3rem;
  right: 2rem;
  width: 444px;
height: 117px;
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
.ab_owner{
  width: 350px;
height: 32px;
/* UI Properties */
text-align: left;
font: normal normal normal 23px/57px Poppins;
letter-spacing: 0px;
color: #000000;
}
.ab_ownert{
  width: 421px;
height: 52px;
text-align: left;
font: normal normal bold 37px/57px Poppins;
letter-spacing: 0px;
color: #000000;
}
/*3rd*/
.ab_label_third{
  position: relative;
  z-index: 2;
  bottom: 3rem;
  left: 8rem;
  width: 444px;
height: 117px;
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
/*4th*/
.ab_bg_fourth{
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MOTM{
  width: 555px;
  height: 63px;
  text-align: left;
  font: normal normal bold 45px/47px Poppins;
  letter-spacing: 0px;
  color: #00333E;
}
.ab_workers{
  width: 170px;
height: 25px;
/* UI Properties */
text-align: left;
font: normal normal bold 18px/26px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.ab_role{
  width: 105px;
height: 25px;
text-align: left;
font: normal normal normal 18px/26px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.ab_card{
  width: 350px;
height: 650px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #AFBCCE;
border-radius: 5px;
opacity: 1;
}
.ab_par_fourth{
  width: 284px;
height: 215px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.ab_marg_top_blue{
  margin-top: 5rem;
}
/*5th*/
/****************************************************<C O N T A C T>*********************************************************/
header{
  top: 150px;
  left: 0px;
  background: url(Img_Home_Page/images/Group\ 116.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  height: 100%;
  min-height: 189px;
}
.cont_head{
  width: 333px;
  height: 83px;
  text-align: left;
  font: normal normal bold 59px/63px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-left: 7rem;
}
.cont_bg{
  height: 100%;
  min-height: 800px;
  background: #ECFBFF 0% 0% no-repeat padding-box;
}
.cont_box{
  width: 1110px;
  height: 100%;
  min-height: 640px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #63909B87;
margin-top: 5rem;
}
.cont_box_blue{
  position: absolute;
  z-index: 0;
  width: 234px;
height: 640px;
/* UI Properties */
background: #C0E0E8 0% 0% no-repeat padding-box;
opacity: 1;
}
.cont_posi{
  position: absolute;
  z-index: 10;
}
.cont_positwo{
  position: absolute;
  z-index: 11;
}
.cont_card{
width: 350px;
height: 538px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 7px;
opacity: 1;
}
.cont_get{
  margin-left: 10px;
  width: 508px;
height: 63px;
/* UI Properties */
text-align: left;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;

}
.cont_getp{
  margin-left: 10px;
  width: 520px;
  height: 23px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0px;
  color: #00333E;
}
.cont_form{
  margin: 10px;
  margin-top: 60px;
}
.cont_Name{
  width: 480px;
  height: 39px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 3px #00000012;
  border: 1px solid #CAD2D8;
  border-radius: 5px;
  opacity: 1;
margin-top: 1em;
}
.cont_mail{
  width: 235px;
height: 39px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
}
.cont_message{
  width: 480px;
height: 80px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
}
.cont_submit{
  width: 480px;
  height: 69px;
  /* UI Properties */
  background: #FF3400 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
border: none;
font: normal normal bold 15px/17px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.cont_deets{
  margin-top: 15rem;
  margin-left: 5rem;
  width: 380px;
height: 320px;
/* UI Properties */
background: #000000 0% 0% no-repeat padding-box;
opacity: 1;
}
.cont_one{
  width: 251px;
height: 49px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.cont_two{
  width: 150px;
height: 29px;
/* UI Properties */
text-align: left;
font: normal normal 600 21px/25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
}
.cont_three{
  width: 202px;
height: 23px;
text-align: left;
font: normal normal normal 16px/25px Poppins;
letter-spacing: 0px;
color: #EFED70;
}
.cont_four{
  width: 80px;
height: 20px;
/* UI Properties */
text-align: left;
text-decoration: underline;
font: normal normal normal 14px/25px Poppins;
letter-spacing: 0px;
color: #EFED70;
text-transform: uppercase;
}





/*MD*/
@media (max-width: 992px) {
    /*nav-bar*/
    .doneL{
      display: flex;
    }
    .doneMD{
      display: none;
    }
    .nopaddingS{
      padding: 0 !important;
      margin: 0 !important;
      }
.logo{
  top: 28px;
left: 151px;
width: 230px;
height: 97px;
background: 0% 0% no-repeat padding-box;
opacity: 1;
}
.logo2{
  padding: 10px;
  display: inline-block;
  align-items: baseline;
width: 400px;
height: 150px;
background: #02050B 0% 0% no-repeat padding-box;
}
.try{
  display: none;
}
/*Home*/
.bg { 
  top: 150px;
  left: 0px;
  background: url(Img_Home_Page/Head.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  height: 100%;
  min-height: 639px;
}
.Sunshine{
  margin-top: 100px;
top: 263px;
left: 128px;
width: 368px;
height: 37px;
text-align: left;
font: normal normal bold 27px/17px Poppins;
letter-spacing: 0px;
color: #2FB1CF;
opacity: 1;
}
.Carpet{
top: 300px;
left: 128px;
width: 670px;
height: 277px;
text-align: left;
font: normal normal bold 49px/63px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.head_contact{
  width: 272px;
height: 69px;
border: 2px solid #EFED70;
border-radius: 4px;
opacity: 1;
text-align: left;
font: normal normal normal 21px/57px Poppins;
letter-spacing: 0px;
color: #EFED70;
}
.card{
width: 350px;
height: 560px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 7px;
opacity: 1;
}
.get{
  margin-left: 10px;
width: 301px;
height: 47px;
text-align: left;
font: normal normal bold 33px/57px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.getp{
  margin-left: 10px;
width: 266px;
height: 17px;
text-align: left;
font: normal normal normal 12px/16px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.form{
  margin: 10px;
  margin-top: 60px;
}
.Name{
  /* Layout Properties */
width: 310px;
height: 39px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
margin-top: 1em;
}
.mail{
  width: 150px;
height: 39px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
}
.message{
  width: 310px;
height: 80px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
}
.submit{
  width: 310px;
height: 51px;
/* UI Properties */
background: #FF3400 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
border: none;
font: normal normal bold 15px/17px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
/*Third*/
.bg3{
  height: 100%;
  min-height: 1506px;
background: #B9D7E1 0% 0% no-repeat padding-box;
opacity: 1;
}
.thirdhead{
  width: 100%;
  min-width: 286px;
  height: 86px;
  text-align: left;
  font: normal normal bold 28px/33px Poppins;
  letter-spacing: 0px;
  color: #00333E;
}
.thirdP{
  width: 100%;
  min-width: 286px;
height: 191px;
text-align: left;
font: normal normal bold 21px/27px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
margin-top: -20px;
}
.thirdP2{
  width: 100%;
  min-width: 286px;
  height: 100%;
  max-height: 296px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
margin-top: -50px;
}
/*cards*/
.circ_arr{
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: #24A0ED;
}
/*Qualities*/
.third_title{
  width: 168px;
height: 47px;
text-align: left;
font: normal normal bold 18px/22px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.third_par{
  width: 182px;
height: 65px;
text-align: left;
font: normal normal normal 12px/16px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
/*seventh*/
.bg_seven{
  height: 100%;
  min-height: 619px;
background: #D9F6FF 0% 0% no-repeat padding-box;
opacity: 1;
}
.bg_pic { 
background: #B0BAC8 0% 0% no-repeat padding-box;
opacity: 1;
  height: 100%;
  min-height: 772px;
}
.seventh_head{
  display: flex;
  justify-content: center;
  align-items:flex-center;
  width: 253px;
height: 99px;
margin-left: 10rem;
font: normal normal bold 55px/22px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.seventh_par{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 521px;
height: 368px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
background-color: white;
}
.bars{
  margin-top: 150px;
  width: 58px;
  height: auto;
font: normal normal normal 200px/24px Poppins;
color: #00333E;
}
.par_car{
  width: 406px;
height: 143px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.carousel-item{
  height: 100%;
  min-height: 35rem;
  color: #00333E;
  position: relative;
  background-position: center;
  background-size: cover;
}
.carousel .carousel-indicators li {background-color: rgb(117, 83, 83);}
.carousel .carousel-indicators li.active {background-color: blue;}
/*Fourth*/
.bg4{
  height: 100%;
  min-height: 807px;
background: #ECFBFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.Fourth_head{
width: 305px;
height: 63px;
text-align: center;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;
color: #000000;
}
.Fourth_par{
width: 1044px;
height: 143px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.Carousel_card{
  width: 286px;
height: 391px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 5px;
opacity: 0.92;
}
.carousel .carousel-indicators button {background-color: rgb(117, 83, 83);}
.carousel .carousel-indicators button.active {background-color: blue;}
.circ_corn{
  width: 153px;
height: 100px;
background: #EFED70;
  border-radius: 0% 0% 100% 0%;
}
.Car_title{
  width: 108px;
height: 47px;
text-align: left;
font: normal normal bold 18px/22px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.Car_par{
  width: 214px;
height: 176px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.img_icon{
  height: 3rem;
  width: 3rem;
}
.fifth_head{
  width: 211px;
height: 39px;
/* UI Properties */
text-align: left;
font: normal normal bold 21px/33px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.fifth_head2{
  width: 310px;
height: 63px;
/* UI Properties */
text-align: left;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.fifth_par{
  width: 300px;
height: 287px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.mags{
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
}
/*Sixth*/
.bg_sixth{
  height: 100%;
  min-height: 619px;
background: #F0FAFC 0% 0% no-repeat padding-box;
opacity: 1;
}
.sixth_head{
  width: 178px;
height: 40px;
/* UI Properties */
text-align: left;
font: normal normal bold 29px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.sixth_head2{
  width: 431px;
height: 100px;
/* UI Properties */
text-align: left;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.sixth_par{
  width: 452px;
height: 167px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
/*last*/
.almost{
  background: #EFED70 0% 0% no-repeat padding-box;
  height: 100%;
  min-height: 270px;
}
.almost_call{
  width: 316px;
height: 335px;
/* UI Properties */
text-align: center;
font: normal normal normal 28px/42px Poppins;
letter-spacing: 0px;
color: #192331;

}
.almost_calltwo{
  width: 188px;
height: 75px;
/* UI Properties */
text-align: left;
font: normal normal bold 29px/35px Poppins;
letter-spacing: 0px;
color: #000D10;
}
/*footer*/
.bgfooter{
  height: 100%;
  min-height: 136px;
background: #192331 0% 0% no-repeat padding-box;
opacity: 1;
}
.footer_par{
  width: 318px;
height: 17px;
text-align: center;
font: normal normal normal 12px/42px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
/****************************************************<C O N T A C T>*********************************************************/
header{
  top: 150px;
  left: 0px;
  background: url(Img_Home_Page/images/Group\ 116.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  height: 100%;
  min-height: 189px;
}
.cont_head{
  width: 333px;
  height: 83px;
  text-align: left;
  font: normal normal bold 59px/63px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-left: 7rem;
}
.cont_bg{
  height: 100%;
  min-height: 1200px;
  background: #ECFBFF 0% 0% no-repeat padding-box;
}
.cont_box{
  width: 610px;
  height: 100%;
  min-height: 1040px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #63909B87;
margin-top: 5rem;
}
.cont_box_blue{
  position: absolute;
  z-index: 0;
  width: 234px;
  height: 100%;
  min-height: 1040px;
/* UI Properties */
background: #C0E0E8 0% 0% no-repeat padding-box;
opacity: 1;
}
.cont_posi{
  position: absolute;
  z-index: 10;
}
.cont_positwo{
  position: absolute;
  z-index: 11;
}
.cont_card{
width: 350px;
height: 538px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 7px;
opacity: 1;
}
.cont_get{
  margin-left: 10px;
  width: 508px;
height: 63px;
/* UI Properties */
text-align: left;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;

}
.cont_getp{
  margin-left: 10px;
  width: 520px;
  height: 23px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0px;
  color: #00333E;
}
.cont_form{
  margin: 10px;
  margin-top: 60px;
}
.cont_Name{
  width: 480px;
  height: 39px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 3px #00000012;
  border: 1px solid #CAD2D8;
  border-radius: 5px;
  opacity: 1;
margin-top: 1em;
}
.cont_mail{
  width: 235px;
height: 39px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
}
.cont_message{
  width: 480px;
height: 80px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
}
.cont_submit{
  width: 480px;
  height: 69px;
  /* UI Properties */
  background: #FF3400 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
border: none;
font: normal normal bold 15px/17px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.cont_deets{
  margin-top: 1rem;
  margin-left: 0 !important;
  width: 380px;
height: 320px;
/* UI Properties */
background: #000000 0% 0% no-repeat padding-box;
opacity: 1;
}
.cont_one{
  width: 251px;
height: 49px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.cont_two{
  width: 150px;
height: 29px;
/* UI Properties */
text-align: left;
font: normal normal 600 21px/25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
}
.cont_three{
  width: 202px;
height: 23px;
text-align: left;
font: normal normal normal 16px/25px Poppins;
letter-spacing: 0px;
color: #EFED70;
}
.cont_four{
  width: 80px;
height: 20px;
/* UI Properties */
text-align: left;
text-decoration: underline;
font: normal normal normal 14px/25px Poppins;
letter-spacing: 0px;
color: #EFED70;
text-transform: uppercase;
}
.aight{
  display: flex;
  justify-content: center;
}
/****************************************************<A B O U T>*********************************************************/
.ab_head{
  width: 884px;
height: 151px;
  text-align: left;
  font: normal normal bold 39px/63px Poppins;
  letter-spacing: 0px;
  color: white !important;
  opacity: 1;
  margin-left: 7rem;
}
.ab_just{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*1st*/
.ab_bg{
  height: 100%;
  min-height: 739px;
}
.ab_marg_top{
  margin-top: 10rem;
}
.ab_par{
  width: 472px;
  height: 100%;
min-height: 23px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
}
/*2nd*/
.ab_two_bg{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
}
.ab_sblue_bg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 310px;
  height: 100%;
min-height: 1064px;
background: #ECFBFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.ab_two_par{
  width: 100%;
  min-width: 426px;
height: 887px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.ab_Spic{
  width: 525px;
  height: 100%;
  min-height: 800px;
}
.ab_label{
  position: relative;
  z-index: 2;
  bottom: 3rem;
  right: 2rem;
  width: 444px;
height: 117px;
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
.ab_label2{
  position: relative;
  z-index: 2;
  bottom: 3rem;
  right: 2rem;
  left: 10rem;
  width: 444px;
height: 117px;
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
.ab_owner{
  width: 350px;
height: 32px;
/* UI Properties */
text-align: left;
font: normal normal normal 23px/57px Poppins;
letter-spacing: 0px;
color: #000000;
}
.ab_ownert{
  width: 421px;
height: 52px;
text-align: left;
font: normal normal bold 37px/57px Poppins;
letter-spacing: 0px;
color: #000000;
}
/*3rd*/
.ab_label_third{
  position: relative;
  z-index: 2;
  bottom: 3rem;
  left: 8rem;
  width: 444px;
height: 117px;
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
/*4th*/
.ab_bg_fourth{
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MOTM{
  width: 555px;
  height: 63px;
  text-align: left;
  font: normal normal bold 45px/47px Poppins;
  letter-spacing: 0px;
  color: #00333E;
}
.ab_workers{
  width: 170px;
height: 25px;
/* UI Properties */
text-align: left;
font: normal normal bold 18px/26px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.ab_role{
  width: 105px;
height: 25px;
text-align: left;
font: normal normal normal 18px/26px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.ab_card{
  width: 350px;
height: 650px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #AFBCCE;
border-radius: 5px;
opacity: 1;
}
.ab_par_fourth{
  width: 284px;
height: 215px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
/*ORDER*/
.order0{
  order: 0;
}
.order1{
  order: 1;
}
.run{
  width: 100%;
  max-width: 366px;
  height: 100%;
  max-height: 619px;
  padding-bottom: 10rem;
}
}

/*S*/
@media (max-width: 768px) {

  .DD{
    font: normal normal normal 14px/57px Poppins !important;
  letter-spacing: 0px;
  color: #9DEBFE !important;
  text-transform: uppercase !important;
  text-decoration: none;
  }
  .dropdowns{
    border-top: 3px solid #EFED70 !important;
    background: #00333E 0% 0% no-repeat padding-box !important;
    width: 100%;
    min-width: 280px !important;
    height: 100% !important;
    min-height: 349px !important;
  }
  .DM{
    width: 161px;
  height: 20px;
  text-align: left;
  font: normal normal normal 14px/38px Poppins;
  letter-spacing: 0px;
  color: #4A98A9;
  text-transform: uppercase;
  margin-top: -10px !important;
  }
  .DM:hover{
    color: #EFED70 !important;
  }
  .doneMD{
    display: none;
  }
  .doneS{
    display: none;
  }
  .nopaddingS{
  padding: 0 !important;
  margin: 0 !important;
  }
.logo{
  top: 28px;
left: 151px;
width: 230px;
height: 97px;
background: 0% 0% no-repeat padding-box;
opacity: 1;
}
.logo2{
  padding: 10px;
  display: inline-block;
  align-items: baseline;
width: 400px;
height: 150px;
background: #02050B 0% 0% no-repeat padding-box;
}
.try{
  display: none;
}
.upper_nav{
  background-color: #03060C;
  height: 57px;
  color: #FFFFFF;
}
.lower_nav{
  background-color: #057690;
  height: 97px;
}
.lower_nav ul li{
  margin: 100px;
}
.lower_nav ul li{
  font-size: 14px;
}
.no_bullet{
  list-style-type: none;
}
.nav_font{
  font: normal normal normal 14px/57px Poppins;
letter-spacing: 0px;
color: #9DEBFE;
text-transform: uppercase;
text-decoration: none;
}
.nav_font:hover{
  color: #EFED70;
}
/*Third*/
.bg3{
  height: 100%;
  max-height: 1506px;
background: #B9D7E1 0% 0% no-repeat padding-box;
opacity: 1;
}
/****************************************************<A B O U T>*********************************************************/
.ab_head{
  width: 884px;
height: 151px;
  text-align: left;
  font: normal normal bold 39px/63px Poppins;
  letter-spacing: 0px;
  color: white !important;
  opacity: 1;
  margin-left: 7rem;
}
.ab_just{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*1st*/
.ab_bg{
  height: 100%;
  min-height: 739px;
}
.ab_marg_top{
  margin-top: 10rem;
}
.ab_par{
  width: 472px;
  height: 100%;
min-height: 23px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
}
/*2nd*/
.ab_two_bg{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
}
.ab_sblue_bg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 310px;
  height: 100%;
min-height: 1064px;
background: #ECFBFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.ab_two_par{
  width: 100%;
  min-width: 426px;
height: 887px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.ab_Spic{
  width: 525px;
  height: 100%;
  min-height: 800px;
}
.ab_label{
  position: relative;
  z-index: 2;
  bottom: 3rem;
  right: 2rem;
  width: 444px;
height: 117px;
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
.ab_label2{
  position: relative;
  z-index: 2;
  bottom: 3rem;
  right: 2rem;
  left: 10rem;
  width: 444px;
height: 117px;
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
.ab_owner{
  width: 350px;
height: 32px;
/* UI Properties */
text-align: left;
font: normal normal normal 23px/57px Poppins;
letter-spacing: 0px;
color: #000000;
}
.ab_ownert{
  width: 421px;
height: 52px;
text-align: left;
font: normal normal bold 37px/57px Poppins;
letter-spacing: 0px;
color: #000000;
}
/*3rd*/
.ab_label_third{
  position: relative;
  z-index: 2;
  bottom: 3rem;
  left: 8rem;
  width: 444px;
height: 117px;
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
/*4th*/
.ab_bg_fourth{
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MOTM{
  width: 555px;
  height: 63px;
  text-align: left;
  font: normal normal bold 45px/47px Poppins;
  letter-spacing: 0px;
  color: #00333E;
}
.ab_workers{
  width: 170px;
height: 25px;
/* UI Properties */
text-align: left;
font: normal normal bold 18px/26px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.ab_role{
  width: 105px;
height: 25px;
text-align: left;
font: normal normal normal 18px/26px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.ab_card{
  width: 350px;
height: 650px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #AFBCCE;
border-radius: 5px;
opacity: 1;
}
.ab_par_fourth{
  width: 284px;
height: 215px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
/*ORDER*/
.order0{
  order: 0;
}
.order1{
  order: 1;
}
.run{
  width: 100%;
  max-width: 366px;
  height: 100%;
  max-height: 619px;
  padding-bottom: 10rem;
}
}
/*XS*/
@media (max-width: 600px) {
    /*nav-bar*/
.logo2{
  top: 28px;
left: 151px;
width: 100%;
max-width: 250px;
height: 60px;
background: 0% 0% no-repeat padding-box;
opacity: 1;
}
.logo{
  display: none;
  }
.try2{
  display: flex;
  justify-content: center;
  align-items: center;
left: 128px;
width: 100%;
max-width: 276px;
height: 100%;
max-height: 130px;
background: #02050B 0% 0% no-repeat padding-box;
opacity: 1;
}
.Sunshine{
  top: 263px;
  left: 128px;
  width: 368px;
  height: 37px;
  text-align: left;
  font: normal normal bold 22px/17px Poppins;
  letter-spacing: 0px;
  color: #2FB1CF;
  opacity: 1;
  }
.Carpet{
  top: 300px;
  left: 128px;
  width: 420px;
  height: 277px;
  text-align: left;
  font: normal normal bold 35px/63px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  }
  /*2nd*/
.Vac{
  height: 100%;
  width: 100%;
  width: 349px;
height: 494px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}
.call{
  position: relative;
  z-index: 3;
  margin-top: 400px;
  right: 200px;
  width: 308px;
height: 117px;
/* UI Properties */
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
.call_now{
  margin-left: 1em;
  width: 112px;
height: 32px;
/* UI Properties */
text-align: left;
font: normal normal normal 23px/57px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.call_num{
  margin-left: 1em;
  width: 234px;
  height: 52px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 30px/57px Poppins;
  letter-spacing: 0px;
  color: #000000;
}
.welcome{
  width: 178px;
height: 40px;
text-align: left;
font: normal normal bold 22px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.welcome1{
  width: 452px;
height: 63px;
text-align: left;
font: normal normal bold 35px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.welcome2{
  width: 100%;
  min-width: 352px;
  height: 100%;
min-height: 311px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
/*Fourth*/
.Fourth_head{
  width: 305px;
  height: 63px;
  text-align: center;
  font: normal normal bold 45px/47px Poppins;
  letter-spacing: 0px;
  color: #000000;
  }
  .Fourth_par{
  width: 1044px;
  height: 100%;
  min-height: 143px;
  text-align:left;
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0px;
  color: #00333E;
  opacity: 1;
  }
/*Fifth*/
.fifth_head{
  margin: 1rem;
  width: 211px;
height: 39px;
text-align: left;
font: normal normal bold 21px/33px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.fifth_head2{
  margin: 1rem;
  width: 100%;
  max-width: 310px;
height: 63px;
text-align: left;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.fifth_par{
  margin: 1rem;
  width: 100%;
  max-width: 380px;
  height: 100%;
  min-height: 143px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.van{
  width: 100%;
  min-width: 350px;
  height: 100%;
  min-height:225px;
}
  /*Sixth*/
  .bg_sixth{
    height: 100%;
    min-height: 619px;
  background: #F0FAFC 0% 0% no-repeat padding-box;
  opacity: 1;
  }
  .sixth_head{
    margin-left: 1rem;
    width: 178px;
  height: 40px;
  text-align: left;
  font: normal normal bold 25px/47px Poppins;
  letter-spacing: 0px;
  color: #00333E;
  }
  .sixth_head2{
    margin-left: 1rem;
    width: 100%;
    max-width: 331px;
    height: 100%;
  max-height: 100px;
  text-align: left;
  font: normal normal bold 30px/47px Poppins;
  letter-spacing: 0px;
  color: #00333E;
  }
  .sixth_par{
    margin-left: 1rem;
    width: 100%;
    max-width: 380px;
    height: 100%;
  min-height: 167px;
  text-align: left;
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0px;
  color: #00333E;
  opacity: 1;
  }
  .run{
    margin-left: 1rem;
    width: 100%;
    max-width: 266px;
    height: 100%;
    max-height: 619px;
    padding-bottom: 10rem;
  }
  /*seventh*/
  .bg_pic { 
    top: 150px;
    left: 0px;
    background: url(Img_Home_Page/Group\ 123.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;
    height: 100%;
    min-height: 620px;
  }
  .seventh_head{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 253px;
  height: 99px;
  margin-left: 4rem;
  font: normal normal bold 55px/22px Poppins;
  letter-spacing: 0px;
  color: #948484;
  opacity: 1;
  }
  .seventh_par{
    margin: 0rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 521px;
    height: 100%;
  min-height: 368px;
  text-align: left;
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0px;
  color: #00333E;
  background-color: white;
  }
  .bars{
    margin-top: 150px;
    width: 58px;
    height: auto;
  font: normal normal normal 200px/24px Poppins;
  color: #00333E;
  }
  .par_car{
    width: 100%;
    max-width: 406px;
    height: 100%;
  min-height: 143px;
  text-align: left;
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0px;
  color: #00333E;
  opacity: 1;
  }
  .carousel-item{
    height: 100%;
    max-height: 35rem;
    color: #00333E;
    position: relative;
    background-position: center;
  }
  .carousel-items{
    height: 100%;
    max-height: 10rem;
    color: #00333E;
    position: relative;
    background-position: center;
  }
}
/*XXS*/
@media (max-width: 375px) {
  /*nav-bar*/
.logo2{
top: 28px;
left: 151px;
width: 100%;
max-width: 250px;
height: 60px;
background: 0% 0% no-repeat padding-box;
opacity: 1;
}
.logo{
display: none;
}
.try2{
display: flex;
justify-content: center;
align-items: center;
left: 128px;
width: 100%;
max-width: 276px;
height: 100%;
max-height: 130px;
background: #02050B 0% 0% no-repeat padding-box;
opacity: 1;
}
.Sunshine{
top: 263px;
left: 128px;
width: 368px;
height: 37px;
text-align: left;
font: normal normal bold 22px/17px Poppins;
letter-spacing: 0px;
color: #2FB1CF;
opacity: 1;
}
.Carpet{
top: 300px;
left: 128px;
width: 320px;
height: 277px;
text-align: left;
font: normal normal bold 30px/63px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-bottom: 1rem;
}
.head_contact{
  width: 272px;
height: 69px;
border: 2px solid #EFED70;
border-radius: 4px;
opacity: 1;
text-align: left;
font: normal normal normal 21px/57px Poppins;
letter-spacing: 0px;
color: #EFED70 !important;
}
.card{
  width: 100%;
min-width: 350px;
height: 538px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 7px;
opacity: 1;
}
.get{
  margin-left: 10px;
  width: 100%;
min-width: 401px;
height: 100%;
min-height: 47px;
text-align: left;
font: normal normal bold 25px/57px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.getp{
  margin-left: 10px;
width: 266px;
height: 17px;
text-align: left;
font: normal normal normal 12px/16px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.form{
  margin: 10px;
  margin-top: 60px;
}
.Name{
  width: 100%;
min-width: 110px;
height: 39px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
margin-top: 1em;
}
.mail{
  width: 100%;
  max-width: 135px;
height: 39px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
}
.message{
  width: 100%;
  min-width: 110px;
height: 80px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 3px #00000012;
border: 1px solid #CAD2D8;
border-radius: 5px;
opacity: 1;
}
.submit{
  width: 100%;
  max-width: 280px;
height: 51px;
/* UI Properties */
background: #FF3400 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
border: none;
font: normal normal bold 15px/17px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
/*2nd*/
.Vac{
height: 100%;
width: 100%;
width: 349px;
height: 494px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}
.call{
position: relative;
z-index: 3;
margin-top: 400px;
right: 200px;
width: 100%;
max-width: 220px;
height: 100px;
/* UI Properties */
background: #EFED70 0% 0% no-repeat padding-box;
box-shadow: 0px 20px 50px #126CC629;
border-radius: 5px;
opacity: 1;
}
.call_now{
margin-left: 1em;
width: 112px;
height: 32px;
/* UI Properties */
text-align: left;
font: normal normal normal 23px/57px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.call_num{
margin-left: 1em;
width: 234px;
height: 52px;
/* UI Properties */
text-align: left;
font: normal normal bold 25px/57px Poppins;
letter-spacing: 0px;
color: #000000;
}
.welcome{
width: 178px;
height: 40px;
text-align: left;
font: normal normal bold 22px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.welcome1{
width: 452px;
height: 63px;
text-align: left;
font: normal normal bold 35px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.welcome2{
width: 100%;
max-width: 352px;
height: 100%;
min-height: 311px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
/*Fourth*/
.Fourth_head{
width: 305px;
height: 63px;
text-align: center;
font: normal normal bold 45px/47px Poppins;
letter-spacing: 0px;
color: #000000;
}
.Fourth_par{
width: 1044px;
height: 100%;
min-height: 143px;
text-align: center;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
/*Sixth*/
.bg_sixth{
  height: 100%;
  min-height: 619px;
background: #F0FAFC 0% 0% no-repeat padding-box;
opacity: 1;
}
.sixth_head{
  width: 178px;
height: 40px;
text-align: left;
font: normal normal bold 25px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.sixth_head2{
  width: 100%;
  max-width: 431px;
height: 100px;
text-align: left;
font: normal normal bold 30px/47px Poppins;
letter-spacing: 0px;
color: #00333E;
}
.sixth_par{
  width: 100%;
  max-width: 252px;
  height: 100%;
min-height: 167px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.run{
  width: 100%;
  max-width: 266px;
  height: 100%;
  max-height: 619px;
  padding-bottom: 10rem;
}
/*seventh*/
.bg_pic { 
  top: 150px;
  left: 0px;
  background: url(Img_Home_Page/Group\ 123.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  height: 100%;
  min-height: 620px;
}
.seventh_head{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 253px;
height: 99px;
margin-left: 4rem;
font: normal normal bold 55px/22px Poppins;
letter-spacing: 0px;
color: #948484;
opacity: 1;
}
.seventh_par{
  margin: 0rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 521px;
  height: 100%;
min-height: 368px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
background-color: white;
}
.bars{
  margin-top: 150px;
  width: 58px;
  height: auto;
font: normal normal normal 200px/24px Poppins;
color: #00333E;
}
.par_car{
  width: 100%;
  max-width: 406px;
  height: 100%;
min-height: 143px;
text-align: left;
font: normal normal normal 16px/24px Poppins;
letter-spacing: 0px;
color: #00333E;
opacity: 1;
}
.carousel-item{
  height: 100%;
  max-height: 35rem;
  color: #00333E;
  position: relative;
  background-position: center;
}
.carousel-items{
  height: 100%;
  max-height: 10rem;
  color: #00333E;
  position: relative;
  background-position: center;
}
}

